html, body {
  height: 100%;
  margin: 0;
  background-color: ghostwhite !important;
  display: flex;
  flex-direction: column;
}

body {
    flex: 1;
}

.content {
    max-width: 700px;
    margin:0 auto;
    padding: 0 1rem;
    flex: 1;
}

a {
    text-decoration: none !important;
    color : inherit;
}

/* .header, .footer {
    background-color: wheat;
} */

.linker:hover {
    border-bottom: 2px solid black;
    
}

.post-card:hover {
    opacity: 80%;
    cursor:pointer;
}

.post-image {
    height: 200px;
    width: 100%;
    object-fit:cover;
    margin-bottom: 20px;
    border-radius:8px;
    border-style:groove;
}

.post-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.time-text {
    font-size: 0.7rem;
    color:red;
    margin-bottom: 0.5rem;
}

svg {
    height: 1.5rem;
}




